.form-header {
  background-color: #e4e4e4;
  color: #266757;
  padding: 5px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; 
}
.content-background {
  background-color: #184069;  
  border: 1px solid #f1f1f1;
}
md-input-container.md-has-icon {
  padding-left: 0px; 
  color: blue; 
}
md-icon {
    color: #4C9EF0 !important;    
}
input {
  color: #FFF !important;
}