.form-margin-setting {
  margin-top: -20px;
}
md-toolbar.toolbar-style {
  padding: 0px;
  margin: 0px;
  background-color: #689aa9;  
}
md-toolbar.toolbar-text {
  padding: 2px !important;
  color: #FFF;
}
.form-submitted-status-message {
  color: red;
  text-decoration: underline;
}
.form-container {
  background-color: #f5f2f2;
}