<html lang="en">

<head>
  <link rel="stylesheet" href="../css/angular-material.min.css">
  <link rel="stylesheet" href="../css/material-template.css">
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-material.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>
  <style>

  </style>
  <script language="javascript">
    angular
      .module('CustomerForm', ['ngMaterial','ngMessages'])
      .controller('inputController', inputController);

    function inputController ($scope) {
      $scope.projectModel = {
        comments: 'Project Comments',
        userName: 'Shoumya Dasgupta',
        userEmail:'shoumyadasgupta@gmail.com',
        city: 'Dubai',
        postalcode: '567890',
        district: 'District',
        isChecked: 'true',
        privateBanker: 'true',
        statementByEmail: 'true'   
      };
    }                 
  </script>
</head>

<body ng-app="CustomerForm">
  <div ng-controller="inputController" id="inputContainer" layout="row" layout-align="center" ng-cloak>
    <md-content flex="80" layout-padding class="md-whiteframe-2dp">
      <form name="projectModelForm">
        <md-toolbar class="md-primary">
          <h2 class="md-toolbar-tools">Customer Input form</h2>
        </md-toolbar>
        <div id="inputContainer">
          <md-input-container class="md-block">
            <label>User Name</label>
            <input required md-maxlength="70" name="username" ng-model="projectModel.userName">
            <div ng-messages="projectModelForm.username.$error" ng-show="projectModelForm.username.$dirty">
              <div ng-message="required">Field Cannot be Left Blank</div>
              <div ng-message="md-maxlength">The comments has to be less than 70 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="userEmail" ng-model="projectModel.userEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
            />
            <div ng-messages="projectModelForm.userEmail.$error" ng-show="projectModelForm.userEmail.$dirty" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and should be a valid email address.
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Project Comments</label>
            <input name="projectModelcomments" md-maxlength="70" required ng-model="projectModel.comments" />
            <div ng-messages="projectModelForm.projectModelcomments.$error" ng-show="projectModelForm.projectModelcomments.$dirty">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The comments has to be less than 70 characters long.</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>City</label>
              <input name="city" ng-model="projectModel.city" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Postal Code</label>
              <input name="postalcode" ng-model="projectModel.postalcode" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>District</label>
              <input name="postalcode" ng-model="projectModel.district" />
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex="25">
              <md-checkbox ng-model="projectModel.isChecked" aria-label="Are you Married ?">
                Are you Married ?
              </md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" flex="35">
              <md-checkbox ng-model="projectModel.privateBanker" aria-label="Are you Private Banking Customer ?">
                Are you Private Banking Customer ?
              </md-checkbox>
            </md-input-container>
             <md-input-container class="md-block" flex="35">
              <md-checkbox ng-model="projectModel.statementByEmail" aria-label="Wish to Receive Statement by Email ?">
                Wish to Receive Statement by Email ?
              </md-checkbox>
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Submit Form</md-button>
        </div>
      </form>
    </md-content>
  </div>
</body>

</html>