<html lang="en">

<head>
  <link rel="stylesheet" href="../css/angular-material.min.css">
  <link rel="stylesheet" href="../css/material-template.css">
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-material.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>
  <style>

  </style>
  <script language="javascript">
         angular
            .module('firstApplication', ['ngMaterial','ngMessages'])
            .controller('inputController', inputController);

         function inputController ($scope) {
           $scope.project = {
              comments: 'Comments',
              userName: 'Shoumya Dasgupta',
              userEmail:'shoumyadasgupta@gmail.com'    
           };
         }                 
      </script>
</head>

<body ng-app="firstApplication">
  <div id="inputContainer" layout="row" layout-align="center" ng-controller="inputController" ng-cloak>
    <md-content flex="50" layout-padding class="md-whiteframe-2dp">
      <form name="projectForm">
        <md-toolbar class="md-primary">
          <h2 class="md-toolbar-tools">Customer Input form</h2>
        </md-toolbar>
        <div id="inputContainer">
          <md-input-container class="md-block">
            <label>User Name</label>
            <input required md-maxlength="70" name="username" ng-model="project.userName">
            <div ng-messages="projectForm.username.$error" ng-show="projectForm.username.$dirty">
              <div ng-message="required">Field Cannot be Left Blank</div>
              <div ng-message="md-maxlength">The comments has to be less than 70 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="userEmail" ng-model="project.userEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
            />
            <div ng-messages="projectForm.userEmail.$error" ng-show="projectForm.userEmail.$dirty" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and should be a valid email address.
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Comments</label>
            <input name="projectcomments" md-maxlength="70" required ng-model="project.comments" />
            <div ng-messages="projectForm.projectcomments.$error" ng-show="projectForm.projectcomments.$dirty">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The comments has to be less than 70 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </form>
    </md-content>
  </div>
</body>

</html>