<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/angular-material.min.css">
  <link rel="stylesheet" href="material-form.css">
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-material.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>
  <script src="../js/md-container-template-1-controller.js"></script>
  <script>
    angular
      .module('inputBasicDemo', ['ngMaterial', 'ngMessages'])
      .controller('UserFormCtrl', UserFormCtrl)
  </script>
</head>

<body ng-app="inputBasicDemo">
  <div ng-controller="UserFormCtrl as formctrl" layout="row" layout-align="center"  ng-cloak>
    <div flex="50" class="md-whiteframe-2dp" layout-margin>
      <md-content layout-padding class="content-background">
        <header layout="column" class="form-header">
          <h2 class="md-title">User Personal Data Input Form</h2>
        </header>
        <section layout="column">
          <md-input-container flex>
            <label>Title</label>
            <input ng-model="formctrl.user.title" />
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="formctrl.user.email" type="email" />
          </md-input-container>
        </section>
        <form layout="column" name="userForm">
          <div>
            <md-input-container class="md-block" flex>
              <label>Company Working In (Disabled)</label>
              <input ng-model="formctrl.user.company" disabled/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Enter First name</label>
              <input ng-model="formctrl.user.firstName" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Enter Last Name</label>
              <input ng-model="formctrl.theMax" />
            </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block" flex>
              <label>Address1</label>
              <input ng-model="formctrl.user.address" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Address2</label>
              <input ng-model="formctrl.user.address2" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Address3</label>
              <input ng-model="formctrl.user.address3" />
            </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block" flex>
              <label>Hobbies</label>
              <input ng-model="formctrl.user.hobbies" />
            </md-input-container>
          </div>
          <div layout="row" layout-align="end">
            <md-button ng-click="formctrl.showConfirm($event)">Submit Form</md-button>            
          </div>
        </form>
      </md-content>
    </div>
  </div>
</body>

</html>