<html lang="en">

<head>
  <link rel="stylesheet" href="../css/angular-material.min.css">
  <link rel="stylesheet" href="material-form.css">
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-material.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>
  <script src="../js/md-container-template-1-controller.js"></script>
  <script>
    angular
      .module('inputBasicDemo', ['ngMaterial', 'ngMessages'])
      .controller('UserFormCtrl', UserFormCtrl)
  </script>
</head>

<body ng-app="inputBasicDemo">
  <div ng-controller="UserFormCtrl as formctrl" layout="row" layout-align="center" ng-cloak>
    <div flex="90">
      <md-content class="form-container" layout-padding>
        <header class="form-header">
          <h2 class="">User Personal Data Input Form</h2>
        </header>
        <div layout="row">
          <md-input-container flex>
            <label>Title</label>
            <input ng-model="formctrl.user.title">
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="formctrl.user.email" type="email">
          </md-input-container>
        </div>
        <div>
          <form name="userForm" class="form-margin-setting">
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Company Working In (Disabled)</label>
                <input ng-model="formctrl.user.company" disabled>
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Enter First name</label>
                <input ng-model="formctrl.user.firstName">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Enter Last Name</label>
                <input ng-model="formctrl.theMax">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex="33">
                <label>Address1</label>
                <input ng-model="formctrl.user.address">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Address2</label>
                <input ng-model="formctrl.user.address2">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Address3</label>
                <input ng-model="formctrl.user.address3">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Hobbies</label>
                <input ng-model="formctrl.user.hobbies">
              </md-input-container>
            </div>
            <div layout="row" layout-align="end">
              <md-button class="md-raised" ng-click="formctrl.showConfirm($event)">Submit Form</md-button>
              <md-button class="md-raised">Reset Form</md-button>
            </div>
          </form>
        </div>        
    </div>
    </md-content>
  </div>
  <footer layout="row" layout-align="center">
    <div flex="90" class="form-footer"><span class="footer-text">Shoumya Dasgupta</span></div>
  </footer>
</body>

</html>