<html lang="en">

<head>
  <link rel="stylesheet" href="../css/angular-material.min.css">
  <link rel="stylesheet" href="../css/material-template.css">
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-material.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>
  <style>

  </style>
  <script>
    angular
      .module('inputBasicDemo', ['ngMaterial', 'ngMessages'])
      .controller('DemoCtrl', function($scope) {
        $scope.user = {
          title: 'Developer',
          email: 'ipsum@lorem.com',
          firstName: '',
          lastName: '',
          company: 'Google',
          address: '1600 Amphitheatre Pkwy',
          city: 'Mountain View',
          state: 'CA',
          biography: 'Loves kittens, snowboarding, and can type at 130 WPM.\n\nAnd rumor has it she bouldered up Castle Craig!',
          postalCode: '94043'
        };
        $scope.states = ('AL AK AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS ' +
        'MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI ' +
        'WY').split(' ').map(function(state) {
            return {abbrev: state};
          });
      })
      .config(function($mdThemingProvider) {
        // Configure a dark theme with primary foreground yellow
        $mdThemingProvider.theme('docs-dark', 'default')
          .primaryPalette('yellow')
          .dark();
      });                 
  </script>
</head>

<body ng-app="inputBasicDemo">
  <div ng-controller="DemoCtrl" layout="row" layout-align="center" ng-cloak class="md-inline-form">
    <div flex="90">
      <md-content  md-theme="docs-dark" layout-padding>
        <md-input-container>
          <label>Title</label>
          <input ng-model="user.title">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
        <form name="userForm" class="form-margin-setting">
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
              <label>Company (Disabled)</label>
              <input ng-model="user.company" disabled>
            </md-input-container>
            <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
            </md-datepicker>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex>
              <label>First name</label>
              <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
              <input ng-model="theMax">
            </md-input-container>
          </div>
          <md-input-container class="md-block" flex>
            <label>Address</label>
            <input ng-model="user.address">
          </md-input-container>
          <md-input-container md-no-float class="md-block" flex>
            <input ng-model="user.address2" placeholder="Address 2">
          </md-input-container>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex>
              <label>City</label>
              <input ng-model="user.city">
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>State</label>
              <md-select ng-model="user.state">
                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                  {{state.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Postal Code</label>
              <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
              <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                  Don't use the long version silly...we don't need to be that specific...
                </div>
              </div>
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Biography</label>
            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </form>
    </div>
    </md-content>
  </div>
</body>

</html>