@import 'StnVariables.scss';
body,
html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}
%BaseSettingsBtn {
  display:inline-block;  
  cursor:pointer;
  padding: .85em 1em;
  margin: 0 1rem 1rem 0;
  transition: all .25s ease-out;
}
@mixin setBorderRadius($param) {
  border-radius: $param;
  -moz-border-radius: $param;
  -webkit-border-radius: $param;
}
@mixin generateFlatBtn($btnwidth,$btnheight,$btncolor,$btnbackground,$borderradius,$btnshadow,$btnfloat,$btnfont) {
  @extend %BaseSettingsBtn;    
  width:$btnwidth;
  height:$btnheight;
  color:$btncolor;
  background:$btnbackground; 
  if $borderradius != '0px' {
    border-radius:$borderradius;	
    -moz-border-radius: $borderradius;
    -webkit-border-radius: $borderradius;
  }
  float:$btnfloat;
  font-size:$btnfont;
  text-shadow:0 1px 1px rgba(0,0,0,0.3);
  @if $btnshadow != null {
    box-shadow:$btnshadow;
    -moz-box-shadow:$btnshadow;
    -webkit-box-shadow:$btnshadow;
  }          
}
@mixin gradientBtn($startcolor,$endcolor) {
  @extend %BaseSettingsBtn;    
  width:auto !important;
  height:auto !important;
  color:#FFF;   
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;   
  float:left;
  text-shadow:0 1px 1px rgba(0,0,0,0.3);
  font-size:$stn-large-font;   
  box-shadow:0px 1px  2px #655656;   
  -moz-box-shadow:0px 1px  2px #655656;   
  -webkit-box-shadow:0px 1px  2px #655656;   
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from($startcolor), to($endcolor));
  background: -webkit-linear-gradient(top, $startcolor, $endcolor);
  background: -moz-linear-gradient(top, $startcolor, $endcolor);
  background: -ms-linear-gradient(top, $startcolor, $endcolor);
  background: -o-linear-gradient(top, $startcolor, $endcolor);
}  
@function fetchBackgroundColor($indexpos) {
  @return unquote(nth($stn-list-buttonBaseColors, $indexpos));
}
@function fetchHoverColor($indexpos) {
  @return unquote(nth($stn-list-buttonHoverColors, $indexpos));
}
@function fetchGradientValues($indexposition) {
  @return unquote(nth($stn-list-gradientColors, $indexposition));
}
@function fetchFont($fontType) {  
  @if $fontType == 'small' {
     @return $stn-small-font;
  }
  @if $fontType == 'medium' {
     @return $stn-medium-font;
  }  
  @if $fontType == 'large' {
     @return $stn-large-font;
  }
}




