@charset "UTF-8";
$stn-small-font:0.5625em !default;
$stn-medium-font:0.75em !default;
$stn-large-font:1.0625em !default;
$stn-float-left:left !default;
$stn-float-right:right;
$stn-box-shadow:0px 1px 3px #AAA !default;
$stn-list-buttonBaseColors: "#2199e8", "#D42626", "#25BA25", "#32B8B8", "#C43556", "#B3974D", "#A1A1A1", "#002185", "#8699D1";
$stn-list-buttonHoverColors:"#147cc0","#B83232","#137813","#328585","#913A4E","#998242","#858585","#011247","#5970B3";
$stn-list-gradientColors: (
  #4ca2d4   #2656b5,
  #3e9c5c   #80c775,
  #e36a68   #c91d06,
  #487691   #0340b0,
  #16a9ab   #3f7fb0,
  #4f16ab   #4a65b8,
  #72ab16   #4bb35b,
  #bdba79   #a1ba30,
  #db4a37   #e88127
);